 .site-about-content-right h3 {text-align:center;}

.skillshover{margin: 10px;display: inline-grid;float: left;max-width: 400px;}

img.skillshover:hover {
    opacity: 0.15;
    }


body,
html {
	overflow-x:hidden;
}

body {
	letter-spacing: 0.6px;
	line-height: 1.6;
	color: #1c1b1b;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.6;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}


h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
	line-height: 1.13;
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img.site-profile-img {
	border: none;
	max-width: 100%;
	border-radius: 30px;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}


.alignleft {
	float:left;
	margin-right:8px;
}

.aligncenter {
	display:block;
	margin:10px auto;
}

.alignright {
	float:right;
	margin-left:8px;
}		

.alignnone {
	max-width: 100%;
}

.wp-caption-text {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}


.site-primary-btn {
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 12px 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.site-primary-btn:hover,
.site-primary-btn:focus {
	background-color: #fff;
}

.site-send-msg-btn {
	border-radius: 4px;
	border: 1px solid #888;
	background-color: transparent;
	color: #555;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 130px;
}

.site-send-msg-btn:hover,
.site-send-msg-btn:focus {
	background-color: #fff;
}


#site-header {
	display: inline;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 25px 0;
	z-index: 500;
	transition: all 0.5s;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	margin-top: 0;
	width: 80px;
	line-height: 18px;
	border-radius: 10px;
	margin-left: 20px;
	margin-bottom:  2px;
}

a.navbar-brand{
	border: 2px solid white;
	text-align:center;
}

.navbar-brand img {
	margin-top: -7px;
}

#site-header.site-fixed-nav {
	width: 100%;
	position: fixed;
	padding: 15px 0;
}


.site-navbar {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;

}

.site-menu {
	margin-top: 4px;
}

.navbar-default .site-menu li a {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
	margin: 10px 15px;
	transition: all 0.5s;
	position: relative;
}

.navbar-default .site-menu li a::after {
	background-color: #fff;
	content: '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: -5px;
	left: 0;
	transform: scale(0);
	transition: all 0.5s;
}

.navbar-default .site-menu li a:hover,
.navbar-default .site-menu li a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #fff;
}

.navbar-default .site-menu li a:hover::after,
.navbar-default .site-menu li a:focus::after,
.navbar-default .navbar-nav > .active > a:focus::after,
.navbar-default .navbar-nav > .active > a:hover::after {
	transform: scale(1);
}



.container-fluid {text-align: center;}

#site-featured-slider {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: inline;
	float: left;
	width: 100%;
}


.site-featured-area {
	justify-content: center;
	display:  flex;
	align-items:  center;
	margin-top: 80px;
}

.site-featured-area h1 {
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	padding-right: 30px;
}

.site-featured-slider-wrapper {
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}

.site-featured-slider {
	display: inline;
	float: left;
	width: 100%;
}

.site-featured-slider p,
#typed {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}

.site-featured-slider span,
#typed span,
.typed-cursor {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
}

.site-featured-content {
	margin-top: 15px;
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}

.site-featured-content p{
	color: #fff;
	text-align: center;
}

.site-featured-content a{
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;

}



#site-about {
	background-color: #f7f7f7;
	display: inline;
	float: left;
	width: 100%;
}

.site-about-area {
	display: inline;
	float: left;
	padding: 50px 0;
	width: 100%;
}

.site-about-header {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.site-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	margin-top: 10px;
	/* padding-top: 30px; */
	text-align: center;
}

.site-about-content {
	background-color: #fff;
	display: inline;
	float: left;
	margin-top: 70px;
	padding: 20px;
	width: 100%;
}

.site-about-content-left {
	display: inline;
	float: left;
	width: 100%;
}

.site-about-content-right {
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}

.site-skill-progress-bar {
	display: inline;
	float: left;
	width: 100%;
}

.site-skill-progress-bar h3 {
	margin-top: 20px;
}

.site-skill-progress-bar>span {
	display: block;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 700;
	color: #444;
}

.site-skill-progress-bar .site-pro-bar {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.site-pro-percentage {
	display: inline-block;
	padding: 5px 0;
	color: #fff;
}

.site-pro-bar .progressbar {
	position: relative;
}

.site-pro-bar .proggress {
	height: 24px !important;
	width: 10px;
}

.site-pro-bar .percentCount {
	position: absolute;
	top: 0;
	left: 48%;
	color: #fff;
}

.site-social-media{
	display: inline;
	float: left;
	width: 100%;
	padding-top: 40px;
}

.site-social-media h3 {
	margin-top: 21px;
}

.site-social-media a {
	border-radius: 50%;
	display: inline-block;
	font-size: 15px;
	border: 1px solid #333;
	width: 35px;
	height: 35px;
	line-height: 32px;
	text-align: center;
	margin: 5px 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;

}

.site-resume-btn {
	margin-top: 30px;
	display: inline-block;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.site-resume-btn:hover,
.site-resume-btn:focus {
	color: #fff;
}



#site-service {
	float: left;
	width: 100%;
	display: inline;
	
}

.site-service-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.site-service-header {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.site-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.site-service-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.site-service-content-single {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 25px 10px;
	width: 100%;
}

.site-service-icon-box {
	font-size: 30px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	line-height: 75px;
}

.site-service-content-single h4{
	margin-bottom: 20px;
	font-size: 20px;
}

.site-service-content-single p {
	font-size: 14px;
	margin-bottom: 0;
	color: #555;
	letter-spacing: 0.5px;
}


.site-portfolio-area {
	display: inline;
	float: left;
	padding: 30px 0 100px 0;
	width: 100%;
}
#site-portfolio {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.site-portfolio-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.site-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.site-header-dot {
	border-radius: 0;
	height: 3px;
	width: 75px;
	display: inline-block;
	margin-bottom: 20px;

}

.site-portfolio-content{
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
}

.site-portfolio-filter-area{
	display: inline;
	float: left;
	width: 100%;
	margin-top: 30px;
}

.filtr-item {
	margin-bottom: 0px;
	padding: 16px;
}

.filtr-item h4 {
	font-size: 18px;
	letter-spacing: 1px;
}

.site-filter-item-content {
	position: absolute;
	left: 16px;
	top: 16px;
	right: 16px;
	bottom: 16px;
	color: #fff;
	padding-top: 25%;
	text-align: center;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
}

.site-item-thumbonail{
	display: inline;
	float: left;
	overflow: hidden;
	width: 100%;
}

.site-item-thumbonail img{
	-webkit-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.filtr-item:hover .site-item-thumbonail img {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

.filtr-item:hover .site-filter-item-content{
	opacity: 0.9;
}

.site-filter-link,
.site-filter-imglink {
	border-radius: 50%;
    background: #1b1c29;
    color: #fff;
    height: 35px;
    padding: 0 6px;
    width: 35px;
    line-height: 35px;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.site-filter-link:hover,
.site-filter-imglink:hover,
.site-filter-link:focus,
.site-filter-imglink:focus {
	background-color: #fff;
}



.site-simplefilter {
	text-align: center;
}

.site-simplefilter li {
	color: #555;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}

.site-simplefilter li:hover,
.site-simplefilter li.active {
    border-color: #fff;
}


#site-testimonials {
	background-image: url("assets/images/testimonials-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#site-testimonials::before {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.84;
}

.site-testimonials-area {
	display: inline;
	float: left;
	padding: 80px 0 80px;
	width: 100%;
	margin:;
}

.site-testimonial-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.site-testimonials-area h2 {
	color: #fff;
	text-align: center;
}

.site-testimonials-block {
	display: inline;
	float: left;
	margin-top: 60px;
	width: 100%;
}

.site-testimonial-slide li{
	list-style: none;
	text-align: center;
}

.site-testimonial-slide li.slick-slide {
	padding: 0 100px;
}

.site-testimonial-slide li .site-quote-icon {
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-bottom: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.site-testimonial-slide li p{
	color: #fff;
	font-size: 16px;
}

.site-ct-name {
	 margin-bottom: 5px;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	margin-top: 30px;
}

.site-ct-title {
	color: #fff;
	font-size: 14px;
}

.site-testimonial-slide .slick-dots {
    bottom: -70px;
}

.site-testimonial-slide .slick-dots li {
	height: 12px;
	width: 12px;
}

.site-testimonial-slide .slick-dots li button {
	background-color: #fff;
	border-radius: 50%;
	height: 10px;
	padding: 0;
	width: 10px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}

.site-testimonial-slide .slick-dots li button:hover,
.site-testimonial-slide .slick-dots li button:focus,
.site-testimonial-slide .slick-dots li.slick-active button {
	height: 12px;
	width: 12px;
}

.site-testimonial-slide .slick-dots li button::before {
	display: none;
}


#site-contact {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.site-contact-area {
	display: inline;
	float: left;
	padding: 30px 0 100px 0;
	width: 100%;
}

.site-contact-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	padding: 0 120px;
}

.site-contact-content{
	display: inline;
	float: left;
	margin-top: 50px;
	padding: 0 120px;
	width: 100%;
}

.site-contact-top {
	display: inline;
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.site-contact-top-single {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.site-contact-top-single .site-icon {
	font-size: 25px;
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	margin-bottom: 15px;
	color: #fff;
}

.site-contact-top-single p{
	margin-bottom: 0;
}


.site-contact-bottom {
	display: inline;
	float: left;
	width: 100%;
}

.site-contact-form {
	text-align: center;
}

.site-contact-form .form-group input {
	background: transparent;
	border-radius: 4px;
	color: #333;
	font-size: 15px;
	border: 1px solid #888;
	height: 45px;
	margin-bottom: 24px;
}

.site-contact-form .form-group textarea {
	background: transparent;
	border: 1px solid #888;
	border-radius: 4px;
	color: #333;
	font-size: 18px;
	padding: 10px;
	height: 190px;
}

.site-contact-form .form-control:focus {
	background-color: #fff;
    outline: 0;
    box-shadow: none;
} ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©

.site-contact-form .form-control::-webkit-input-placeholder {
	color: #888;
	font-size: 15px;
}

.site-contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #888;
	font-size: 15px;
}

.site-contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #888;
	font-size: 15px;
}

.site-contact-form .form-control:-ms-input-placeholder {
	color: #888;
	font-size: 15px;
}

.site-contact-form .button-default::after,
.site-contact-form .button-default > span {
	padding: 12px 40px;
}

.site-social-media {
	display: inline;
	float: left;
	width: 100%;
}

#form-messages {
	margin-bottom: 10px;
    background-color: #fff;
}

.success {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}

.error {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid rgba(185, 74, 72, 0.3);
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}


#footer {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.footer-area{
		float: left;
		padding: 25px 0;
		text-align: center;
		width: 100%;
		height: 60px;
		background-color:#FFA31E;
	vertical-align: middle;
	color:white;
		display: inline-block;
}

.site-copy-right {
	margin-bottom: 0;
}

.site-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}



@media (max-width: 1199px) {

	.navbar-brand img {
		width: 145px;
		margin-top: -10px;
	}

	.navbar-default .site-menu li a {
		margin: 10px 12px 5px;
	}

	.site-about-content-right {
		margin-top: 0;
	}

	.site-skill-progress-bar h3 {
		margin-top: 0;
	}


}

@media (max-width: 991px) {

	.navbar-default .site-menu li a {
		font-size: 14px;
		margin: 10px 5px;
	}

	.site-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.site-simplefilter li{
		margin-bottom: 10px;
	}

	.site-about-header,
	.site-service-header,
	.site-contact-header {
		padding: 0;
	}

	.site-featured-area {
	}

	.site-about-content-left img{
		/* width: 100%; */
		width: 380px;
		height: auto;
		display: block;
		margin: 0 auto;
		border: none;
	}

	.site-about-content-right {
		/* margin-top: 50px; */
		/* padding: 0 5px 0 20px; */
	}

	.site-filter-item-content {
		padding-top: 18%;
	}

	.filtr-item h4 {
		font-size: 16px;
	}

	.site-testimonial-slide li.slick-slide,
	.site-contact-content {
		padding: 0 50px;
	}


}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		background-color: rgba(0,0,0,0.8);
		text-align: center;
	}

	.navbar-default .site-menu li a {
		display: inline-block;
	}

	.site-team-content .row > div {
		width: 49.5%;
		float: left;
	}

	.site-testimonial-slide li {
		padding: 0 15px;
	}

	.site-filter-item-content {
		padding-top: 25%;
	}

	.site-contact-top-single {
		margin-bottom: 25px;
	}


}


@media (max-width: 640px){

	#site-header.site-fixed-nav {
		padding: 10px 0;
	}

	.site-featured-slider-content {
		left: 0;
		right: 0;
		bottom: 0;
		top: 30%;
		padding: 0 10px;
	}

	.site-featured-slider-content h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.site-featured-slider-content p {
		font-size: 12px;
	}

	.site-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}


}


@media (max-width: 480px) {

	#site-header {
		padding: 10px 0;
	}

	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		font-size: 25px;
		margin-top: 0px;




	}


	.navbar-toggle {
		padding: 7px 8px;
	}

	.navbar-toggle .icon-bar {
		width: 18px;
	}

	h2{
		font-size: 25px;
	}

	.site-heading-title {
		margin-bottom: 10px;

	}

	.site-about-content-single h4 {
		margin-bottom: 18px;
	}

	.site-simplefilter li {
		padding: 1rem 1.3rem;
		font-size: 14px;
	}

	.site-team-social-info a {
		width: 35px;
		height: 35px;
		font-size: 16px;
		line-height: 35px;
	}

	.site-contact-form button {
		width: 100%;
	}

	.filtr-item h4 {
		font-size: 14px;
	}

	.site-featured-area h1 {
		font-size: 30px;
		text-align: center;
	}

	.site-featured-slider p,
	#typed,
	#typed span {
		font-size: 18px;
	}

	.site-featured-content p {
		font-size: 14px;
			}

	.site-filter-item-content {
		padding-top: 20%;
	}

	.site-featured-area {
	}



}


@media (max-width: 360px){

	.site-featured-slider-content {
		top: 49%;
	}

	.site-featured-slider-content p,
	.site-featured-slider-content .site-primary-btn {
		display: none;
	}

	.site-featured-slider-content h2 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.site-filter-item-content {
		padding-top: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.filtr-item h4 {
		font-size: 12px;
	}

	.site-team-content .row > div {
		width: 100%;
	}

	.site-simplefilter li {
		padding: 1rem 1rem;
		font-size: 12px;
	}

	.site-portfolio-content .col-xs-6 {
		width: 100%;
	}

	.site-testimonial-slide li.slick-slide,
	.site-contact-content {
		padding: 0;
	}
	
}


@media (max-width: 320px){

}

.center {
	margin: 0 auto;
	width: 80%;
}

.foto > img{border-radius:50%;border: 2px solid white;height: 200px;width: 200px;}


.site-primary-btn:hover,
.site-primary-btn:focus,
.site-filter-link:hover,
.site-filter-imglink:hover,
.site-filter-link:focus,
.site-filter-imglink:focus,
.site-simplefilter li:hover,
.site-simplefilter li.active,
.site-copy-right a:hover,
.site-copy-right a:focus {
	color: #FFA31E;
}

.site-send-msg-btn:hover,
.site-send-msg-btn:focus,
.site-social-media a:hover,
.site-social-media a:focus {
	border: 1px solid #FFA31E;
	color: #FFA31E;
}

.site-testimonial-slide .slick-dots li button:hover,
.site-testimonial-slide .slick-dots li button:focus,
.site-testimonial-slide .slick-dots li.slick-active button,
.site-resume-btn:hover,
.site-resume-btn:focus,
.site-header-dot,
.site-filter-item-content,
.site-contact-top-single .site-icon,
.site-skill-progress-bar .site-pro-bar,
#site-featured-slider,
#site-header.site-fixed-nav {
	background-color: #FFA31E;
}

.site-contact-form .form-control:focus {
	border: 1px solid #FFA31E;
}

.site-resume-btn,
.site-service-icon-box {
	border: 2px solid #FFA31E;
	color: #FFA31E;
}


.site-pro-bar .proggress {
	background-color: #FFA31E !important;
}